.icon{
    display: flex;
    border-radius: 4px;
    transition: opacity .3s;
}

.icon-svg{
    width: 100%;
    height: 100%;
}

.icon.lg{
    height: 30px;
    width: 30px;
}
.icon.md{
    height: 24px;
    width: 24px;
}
.icon.sm{
    height: 18px;
    width: 18px;
}
.icon:hover {
    opacity: .5;
}
.icon:hover,.active .icon{
    background: var(--gradient-primary);
    color: var(--color-gray-6);
}
